body {
  background: transparent;
  font-family: sans-serif;
}

.card {
  width: 1000px;
  background: rgb(255, 189, 189);
  margin: 16px auto;
}

.title {
  color: rgb(25, 0, 255);
  background: transparent;
  font-family: 'Courier New', Courier, monospace;
  margin: 16px auto;
}

.content {
  color:black;
  background: rgb(255, 189, 189);
  font-size: 25px;
  margin: 16px auto;
}

.button-container {
  background: #7bff43;
  color:black;
  font-weight: bold;
  font-size: 25px;
  margin: 16px auto;
}

.numba-five {
  background:rgb(255, 189, 189);
  font-size: 18px;
  margin: 16px auto;
}

button {
  background: white;
  border: 1px solid #eee;
  color: black;
  
}